@page
@model RSI_Project.Pages.AddUpdateTrainingPlanModel
@{
    ViewData["Title"] = "Add/Create Training Plan";
}

<!--Training Plan Create/Edit-->
<div class="row text-start justify-content-center">
    <div class="col-2">
        <p>Medium</p>
        <p>Description</p>
        <p>Start Date</p>
        <p>Status</p>
    </div>
    <div class="col-3">
        <form id="trainingPlan">
            <p>
                <select id="media">
                    <option value="test1">test1</option>
                    <option value="test2">test2</option>
                    <option value="test3">test3</option>
                    <!--
                        for (int i = 0; i < mediumTableArray.GetLength(0); i++) {
                            <option value=mediumTableArray[0][i]>mediumTableArray[1][i]</option>
                        }
                        2 rows with many columns
                        For each medium in the media table,
                        create an option in a dropdown list.
                    -->
                </select>
            </p>
            <p>description</p>
            <p><input type="date" /></p>
            <p>
                <select id="status">
                    <option value="test1">test1</option>
                    <option value="test2">test2</option>
                    <option value="test3">test3</option>
                    <!--
                        for (int i = 0; i < statusTableArray.GetLength(0); i++) {
                            <option value=statusTableArray[0][i]>statusTableArray[1][i]</option>
                        }
                        2 rows with many columns
                        For each status in the status table,
                        create an option in a dropdown list.
                    -->
                </select>
            </p>
            <br />
            <input type="submit" value="Save" />
            <input type="button" value="Cancel" />
        </form>
        <br />
        <a href="/TrainingHistory">View Training Plan History</a>
    </div>
</div>
