@page
@model RSI_Project.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Security.Principal;
@{
    String fullName = User.Identity?.Name;
    String displayName = "";
    if (fullName.Contains("@"))
    {
        displayName = fullName.Substring(0, fullName.IndexOf("@"));
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome @displayName!</h1>
    <p></p>
    <div class="row">
        <div class="col m-1" style="border: 1px solid black">
            <h3 style="border-bottom: 1px solid black"><a class="link-dark nav-link" href="/Personal">Personal Information</a></h3>
            <ul class="text-start">
                <li>View personal information</li>
                <li>Update skills</li>
            </ul>
        </div>
        <div class="col m-1" style="border: 1px solid black">
            <h3 style="border-bottom: 1px solid black"><a class="link-dark nav-link" href="/ViewActiveTraining">Active Training</a></h3>
            <ul class="text-start">
                <li>View active training</li>
                <li>Update active training plan</li>
                <li>Create training plan</li>
            </ul>
        </div>
        <div class="col m-1" style="border: 1px solid black">
            <h3 style="border-bottom: 1px solid black"><a class="link-dark nav-link" href="/TrainingHistory">Training History</a></h3>
            <ul class="text-start">
                <li>View training history</li>
            </ul>
        </div>
    </div>
</div>
