@page
@model RSI_Project.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using System.Security.Principal;
@{
    String fullName = User.Identity?.Name;
    String displayName = "";
    if (fullName.Contains("@"))
    {
        displayName = fullName.Substring(0, fullName.IndexOf("@"));
    }
}

<div class="text-center">
    <h1 id="fadeIn" class="display-4">
        <span>Welcome</span>
        <span>@displayName!</span>
    </h1>
    <p></p>
    <div class="row">
        <div class="col m-1">
            <button id="navBtn" style="width:100%;">
                <h3><a class="link-dark nav-link" href="/Personal">Personal Information</a></h3>
            </button>

        </div>
        <div class="col m-1">
            <button id="navBtn" style="width:100%;">
                <h3><a class="link-dark nav-link" href="/ViewActiveTraining">Active Training</a></h3>
            </button>

        </div>
        <div class="col m-1">
            <button id="navBtn" style="width:100%;">
                <h3><a class="link-dark nav-link" href="/TrainingHistory">Training History</a></h3>
            </button>

        </div>
    </div>
</div>