@page
@model WebApplication2.Pages.PersonalModel
@{
    ViewData["Title"] = "Personal Information";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>something</p>
        </div>
        <div class="col-2">
            <p>int employeeID</p>
            <p>employeeFirstName</p>
            <p>employeeLastName</p>
            <p>email</p>
            <p>something</p>
        </div>
    </div>
</div>


