@page
@model WebApplication2.Pages.PersonalModel
@{
    ViewData["Title"] = "Personal Information";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row">
        <div class="col">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>something</p>
        </div>
        <div class="col">
            <p>00192304</p>
            <input type="text" value="Peter" />
        </div>
    </div>
</div>


