@page
@model WebApplication2.Pages.TrainingModel
@{
    ViewData["Title"] = "Training Plan History";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
</div>


<div class="justify-content-center">
    <table class="table table-striped table-light">
        
    </table>
</div>

<p>No history to display</p>
