@page
@model WebApplication2.Pages.TrainingModel
@{
    ViewData["Title"] = "Training Plan History";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
</div>


<div class="justify-content-center">
    <table class="table table-striped">
        <tr>
            <th>Medium</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Practice Area</th>
            <th>Skills</th>
            <th>Description</th>
         </tr>

         <tr>
             <td>LinkedIn</td>
             <td>03/01/2022</td>
             <td>04/25/2022</td>
             <td>Complete</td>
             <td>Database</td>
             <td>MySQL</td>
             <td>Learning MySQL</td>
         </tr>

        <tr>
            <td>LinkedIn</td>
            <td>03/05/2022</td>
            <td>04/25/2022</td>
            <td>Complete</td>
            <td>Database</td>
            <td>MySQL</td>
            <td>Learning MySQL tea tasdfgasdf asdfgasdvasd fasdfasdf vazsdcvasd</td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td>03/07/2022</td>
            <td>04/25/2022</td>
            <td>Complete</td>
            <td>Database</td>
            <td>MySQL</td>
            <td>Learning MySQL</td>
        </tr>
    </table>
</div>
