@page
@model RSI_Project.Pages.ViewUpdateCreateActiveTrainingModel
@{
    ViewData["Title"] = "View Training Plan";
    var num = new Random();
    int choice = num.Next(3);
    String[] arr = { "activePlan", "noActive", "notInLabs" };
    String visible = arr[choice];
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
</div>




@{
    if (visible == "activePlan")
    {
        <!--If the employee has an active training plan-->
        <div class="row text-start justify-content-center" >
            <div class="col-2">
                <p>Training Plan ID</p>
                <p>Medium</p>
                <p>Description</p>
                <p>Start Date</p>
                <p>Status</p>
            </div>
            <div class="col-3">
                <form id="trainingPlan">
                    <p>trainingPlanID</p>
                    <p>media</p>
                    <p>description</p>
                    <p>startDate</p>
                    <p>status</p>
                    <br />
                    <input type="submit" value="Edit" />
                    <input type="button" value="Mark Complete" />
                    <br />
                    <br />
                    <a href="/TrainingHistory">View Training Plan History</a>
                </form>
            </div>
        </div>
    }
    else if (visible == "noActive")
    {
        <!--If the employee does not have a plan active-->
        <div class="text-center">
            <p>No training plan active.</p>
            <a href="/AddUpdateTrainingPlan">Create Plan</a>
            <br />
            <a href="/TrainingHistory">View Training Plan History</a>
        </div>
    }
    else if (visible == "notInLabs")
    {
        <!--If the employee is not in labs (& doesn't have an active plan)-->
        <div class="text-center">
            <p>No training plan active. Unable to create a plan at this time.</p>
            <a href="/TrainingHistory">View Training Plan History</a>
        </div>
    }
}




